# DataFrames

In [1]:
import pandas as pd

## Ejercicio 1.0

In [2]:
edades = [22,18,55,26,33,45,54,18,22]
edades

[22, 18, 55, 26, 33, 45, 54, 18, 22]

In [3]:
serie_edades = pd.Series(edades)

In [4]:
serie_edades

0    22
1    18
2    55
3    26
4    33
5    45
6    54
7    18
8    22
dtype: int64

## Ejercicio 1.1

obtener los primeros 5 registros utilizando head

In [5]:
serie_edades.head(5)

0    22
1    18
2    55
3    26
4    33
dtype: int64

Obtener los ultimos 3 registros utilizando tail

In [6]:
serie_edades.tail(3)

6    54
7    18
8    22
dtype: int64

Obtener el valor maximo de la serie

In [7]:
serie_edades.max()

55

Obtener el valor minimo de la serie

In [8]:
serie_edades.min()

18

Obtener valor promedio

In [9]:
serie_edades.mean()

32.55555555555556

## Ejercicio 1.2

Obtener el segundo valor de la serie

In [10]:
serie_edades[1]

18

In [11]:
serie_edades

0    22
1    18
2    55
3    26
4    33
5    45
6    54
7    18
8    22
dtype: int64

Otra variante con get

In [12]:
serie_edades.get(2)

55

## Ejercicio 1.3

Obtengo los registros que tengan un valor == 22

In [13]:
serie_edades

0    22
1    18
2    55
3    26
4    33
5    45
6    54
7    18
8    22
dtype: int64

In [14]:
serie_edades==22

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8     True
dtype: bool

In [15]:
serie_edades[serie_edades==22]

0    22
8    22
dtype: int64

## Ejercicio 1.4

Creo una segunda serie utilizando los siguientes datos

In [16]:
edades2 = [33,66,55,22,12,47,43,25,28]

In [17]:
serie_edades2 = pd.Series(edades2)

In [18]:
serie_edades2

0    33
1    66
2    55
3    22
4    12
5    47
6    43
7    25
8    28
dtype: int64

Sumar ambas series

In [19]:
serie_edades + serie_edades2

0     55
1     84
2    110
3     48
4     45
5     92
6     97
7     43
8     50
dtype: int64

In [20]:
edades + edades2

[22, 18, 55, 26, 33, 45, 54, 18, 22, 33, 66, 55, 22, 12, 47, 43, 25, 28]

In [21]:
edades3 = [2]

In [24]:
serie_edades3 = pd.Series(edades3)

In [25]:
serie_edades3

0    2
dtype: int64

serie_edades3 + serie_edades2

## Ejercicio 1.5

Reordenar la serie anterior ordenando los indices con **sort_index()**

In [28]:
serie_edades2 = serie_edades2.sort_index(ascending=False)
serie_edades2

8    28
7    25
6    43
5    47
4    12
3    22
2    55
1    66
0    33
dtype: int64