# Pandas

## Ejercicio 1.0 - Instalacion y ejecucion

Pandas nos permite trabajar con datos estructurados. Esta libreria sirve para trabajar con tablas.
dentro de la libreria tenemos:
* Series: son columnas con informacion
* Dataframe: varias series agrupadas
las funciones y metodos son compatibles entre Series y Dataframes.Nos permite leer informacion...

Con pandas podemos leer y escribir fácilmente ficheros en formato CSV, Excel y bases de datos SQL.

In [1]:
!pip install pandas==2.2.2

Collecting pandas==2.2.2
  Downloading pandas-2.2.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.0/13.0 MB 44.1 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas==2.2.2) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas==2.2.2) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas==2.2.2) (2023.4)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas==2.2.2) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas==2.2.2) (1.16.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.0.3
    Uninstalling pandas-2.0.3:
      Successfully uninstalled pandas-2.0.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas==2.0.3, but you have pandas 2.2.2 which is incompatible.
Successfully installed pandas-2.2.2

In [2]:
import numpy as np

In [3]:
import pandas as pd

## Ejercicio 1.1

En una serie vamos a priorizar el tipo de informacion que tenemos.

como crear una **serie**?

In [4]:
lista_numerica = [4,5,3]
serie_numerica = pd.Series(lista_numerica)
serie_numerica

0    4
1    5
2    3
dtype: int64

In [5]:
lista_nombres = ["jose","pedro","maria"]
serie_nombre = pd.Series(lista_nombres)
serie_nombre

0     jose
1    pedro
2    maria
dtype: object

In [6]:
lista_booleano = [False, True, False]
serie_booleano = pd.Series(lista_booleano)
serie_booleano

0    False
1     True
2    False
dtype: bool

In [7]:
array = np.array([7,8,9])
serie_array = pd.Series(array)
serie_array

0    7
1    8
2    9
dtype: int64

## Ejercicio 1.2

Podemos indicar que tipo de dato queremos:

In [8]:
serie_colores = pd.Series(["verde","blanco","rojo"], dtype="string" )
serie_colores

0     verde
1    blanco
2      rojo
dtype: string

In [9]:
serie_dni = pd.Series([12456852,24928635,48425698], dtype="string")
serie_dni

0    12456852
1    24928635
2    48425698
dtype: string

## Ejercicio 1.3

En una serie puedo indicar los indices de las filas que tengo

In [10]:
lista_alumnos = ["sebastian","carlos","jorge","yanina","marina"]
edad_alumnos = [22,19,50,42,33]

serie_edad = pd.Series(edad_alumnos,index=lista_alumnos)
serie_edad

sebastian    22
carlos       19
jorge        50
yanina       42
marina       33
dtype: int64

## Ejercicio 1.4

In [11]:
diccionario_promedio = {
    "mario": 7.4,
    "jorge": 8.0,
    "miguel": 7.5,
    "carlos":7.1
}
diccionario_promedio

{'mario': 7.4, 'jorge': 8.0, 'miguel': 7.5, 'carlos': 7.1}

## Ejercicio 1.5

Otra opcion es utilizar un diccionario para cargar datos en una serie

In [12]:
diccionario_promedio = {
    "mario": 7.4,
    "jorge": 8.0,
    "miguel": 7.5,
    "carlos":7.1
}
promedio_alumnos = pd.Series(diccionario_promedio)
promedio_alumnos

mario     7.4
jorge     8.0
miguel    7.5
carlos    7.1
dtype: float64

## Ejercicio 1.6

Utilizando numpy junto con pandas podemos crear una serie en base a un array con numeros aleatorios

In [16]:
rng = np.random.default_rng()

In [18]:
array_enteros_aleatorios = rng.integers(1,101,5) #Array con 10 elementos integer aleatorios entre 0 y 100
indice = ["bs as","la pampa","santa fe","corrientes","chaco"]

serie_provincias = pd.Series( array_enteros_aleatorios, indice)

In [19]:
serie_provincias

bs as         48
la pampa      74
santa fe      84
corrientes    35
chaco         93
dtype: int64

## Ejercicio 1.7

En las series podemos acceder a los valores y al indice usando tanto la posicion como el indice, o aplicando una condicion.
Como manejamos indices en las series

In [20]:
serie_provincias

bs as         48
la pampa      74
santa fe      84
corrientes    35
chaco         93
dtype: int64

In [21]:
serie_provincias.index[0], serie_provincias.iloc[0]

('bs as', 48)

In [22]:
serie_provincias.index[3], serie_provincias.iloc[3]

('corrientes', 35)

In [23]:
serie_provincias.index[-1], serie_provincias.iloc[-1]

('chaco', 93)

In [24]:
serie_provincias.iloc[1:4]

la pampa      74
santa fe      84
corrientes    35
dtype: int64

In [25]:
serie_provincias.iloc[:3]

bs as       48
la pampa    74
santa fe    84
dtype: int64

In [26]:
serie_provincias.iloc[-4:]

la pampa      74
santa fe      84
corrientes    35
chaco         93
dtype: int64

In [27]:
serie_provincias[serie_provincias > 50] #Solo obtenemos los valores > 50

la pampa    74
santa fe    84
chaco       93
dtype: int64

In [28]:
serie_provincias[serie_provincias == 35] #Solo obtenemos los valores = 35

corrientes    35
dtype: int64

In [30]:
serie_provincias[(serie_provincias > 15) & (serie_provincias < 65)] #Solo obtenemos los valores entre >15 y <65

bs as         48
corrientes    35
dtype: int64

In [34]:
serie_provincias["la pampa"] #Podemos acceder a un valor usando el indice

74

In [33]:
serie_provincias[["la pampa","chaco","bs as"]] #O a multiples pasando una tupla con los indices

la pampa    74
chaco       93
bs as       48
dtype: int64

## Ejercicio 1.8

En pandas contamos con una amplia gama de funciones y metodos que nos permiten realizar calculos

In [35]:
serie_provincias

bs as         48
la pampa      74
santa fe      84
corrientes    35
chaco         93
dtype: int64

In [36]:
serie_provincias.count()  #Para contar elementos usamos

5

In [37]:
serie_provincias.sum() #Con sum podemos usar los valores de una serie

334

In [38]:
serie_provincias.min() #Nos devuelve el valor minimo

35

In [39]:
serie_provincias.max()  #Nos devuelve el valor maximo

93

In [40]:
serie_provincias.mean() #Calcula el promedio

66.8

In [41]:
serie_provincias.var() #Retorna la varianza

599.6999999999999

La varianza es una medida estadística que representa la dispersión o variabilidad de un conjunto de datos. Indica cuánto se alejan los valores individuales del promedio (o media) del conjunto de datos.

La varianza se calcula como el promedio de las diferencias al cuadrado entre cada valor individual y la media del conjunto de datos.

In [42]:
serie_provincias.std() #Calcula el desviacion tipica

24.48877293781785

La desviación típica, también conocida como desviación estándar, es una medida estadística que cuantifica la cantidad de variación o dispersión de un conjunto de valores. Una desviación estándar baja indica que los valores tienden a estar cerca de la media (o valor esperado) del conjunto, mientras que una desviación estándar alta indica que los valores están dispersos en un rango más amplio.

La desviación estándar se calcula como la raíz cuadrada de la varianza.

In [43]:
serie_provincias.describe()  #Crea un mini resumen con estadisticas para la serie numerica

count     5.000000
mean     66.800000
std      24.488773
min      35.000000
25%      48.000000
50%      74.000000
75%      84.000000
max      93.000000
dtype: float64

In [44]:
serie_provincias.sort_values() #Ordena la serie en base a los valores

corrientes    35
bs as         48
la pampa      74
santa fe      84
chaco         93
dtype: int64

In [45]:
serie_provincias.sort_values(ascending= False) #Asi se ordena de manera descendente

chaco         93
santa fe      84
la pampa      74
bs as         48
corrientes    35
dtype: int64

In [46]:
#Creamos una serie con categorias
index=["mendoza", "bsas", "cordoba", "san luis", "catamarca", "san juan", "la pampa", "entre rios", "caba", "misiones"]
regiones = pd.Series(["oeste", "este", "centro", "oeste","oeste","oeste","centro","este","este","norte"], index)
regiones

mendoza        oeste
bsas            este
cordoba       centro
san luis       oeste
catamarca      oeste
san juan       oeste
la pampa      centro
entre rios      este
caba            este
misiones       norte
dtype: object

In [48]:
regiones.value_counts()  #Podemos ver cuantas veces se repite cada categoria, ES CASE SENSITIVE

oeste     4
este      3
centro    2
norte     1
Name: count, dtype: int64

In [47]:
regiones.describe() #Crea un mini resumen para la serie categorica

count        10
unique        4
top       oeste
freq          4
dtype: object

## Ejercicio 1.9

Una de las ventajas de la libreria pandas es que permite utilizar fechas.

Veamos como utilizar la funcion date_range

In [55]:
pd.date_range(start='2024-04-01', end='2024-04-14') #Asi seguimos la estructura AAAA-MM-DD

DatetimeIndex(['2024-04-01', '2024-04-02', '2024-04-03', '2024-04-04',
               '2024-04-05', '2024-04-06', '2024-04-07', '2024-04-08',
               '2024-04-09', '2024-04-10', '2024-04-11', '2024-04-12',
               '2024-04-13', '2024-04-14'],
              dtype='datetime64[ns]', freq='D')

In [56]:
pd.date_range(start='04-01-2024', end='04-10-2024') #Asi seguimos la estructura MM/DD/AAAA

DatetimeIndex(['2024-04-01', '2024-04-02', '2024-04-03', '2024-04-04',
               '2024-04-05', '2024-04-06', '2024-04-07', '2024-04-08',
               '2024-04-09', '2024-04-10'],
              dtype='datetime64[ns]', freq='D')

In [57]:
#Podemos utilizar diferentes frecuencias
pd.date_range(start='2011', end='2024', freq= 'YE') #Separa cada valor por el ultimo dia del año

DatetimeIndex(['2011-12-31', '2012-12-31', '2013-12-31', '2014-12-31',
               '2015-12-31', '2016-12-31', '2017-12-31', '2018-12-31',
               '2019-12-31', '2020-12-31', '2021-12-31', '2022-12-31',
               '2023-12-31'],
              dtype='datetime64[ns]', freq='YE-DEC')

In [58]:
pd.date_range(start='2022', end='2023', freq='ME') #Separa cada valor por el ultimo dia del mes

DatetimeIndex(['2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30',
               '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31',
               '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-31'],
              dtype='datetime64[ns]', freq='ME')

In [60]:
pd.date_range(start='2023/02', end='2023/05', freq= 'W') #Separa cada valor por el ultimo dia de la semana

DatetimeIndex(['2023-02-05', '2023-02-12', '2023-02-19', '2023-02-26',
               '2023-03-05', '2023-03-12', '2023-03-19', '2023-03-26',
               '2023-04-02', '2023-04-09', '2023-04-16', '2023-04-23',
               '2023-04-30'],
              dtype='datetime64[ns]', freq='W-SUN')

In [62]:
pd.date_range(start='2023/10', end='2023/11', freq= 'D') #Separa cada valor por dia

DatetimeIndex(['2023-10-01', '2023-10-02', '2023-10-03', '2023-10-04',
               '2023-10-05', '2023-10-06', '2023-10-07', '2023-10-08',
               '2023-10-09', '2023-10-10', '2023-10-11', '2023-10-12',
               '2023-10-13', '2023-10-14', '2023-10-15', '2023-10-16',
               '2023-10-17', '2023-10-18', '2023-10-19', '2023-10-20',
               '2023-10-21', '2023-10-22', '2023-10-23', '2023-10-24',
               '2023-10-25', '2023-10-26', '2023-10-27', '2023-10-28',
               '2023-10-29', '2023-10-30', '2023-10-31', '2023-11-01'],
              dtype='datetime64[ns]', freq='D')

In [64]:
#Otra opcion es usar la cantidad de periodes que queremos

pd.date_range(start='2023/02', end='2024/04', periods= 3)  #Divide lo que hay entre 2023 y 2024 en 3 periodos iguales

DatetimeIndex(['2023-02-01 00:00:00', '2023-09-01 12:00:00',
               '2024-04-01 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [66]:
pd.date_range(start='2023/03', end='2024/04', periods= 6) #Divide lo que hay entre marzo del 2023 y abril del 2024 en 6 periodos iguales

DatetimeIndex(['2023-03-01 00:00:00', '2023-05-19 09:36:00',
               '2023-08-06 19:12:00', '2023-10-25 04:48:00',
               '2024-01-12 14:24:00', '2024-04-01 00:00:00'],
              dtype='datetime64[ns]', freq=None)

## Ejercicio 2.0

Ya vimos como podemos crear fechas, estas son muy utiles para los indices ya que nos permiten transforma nuestra serie en una serie temporal.

In [67]:
dias_febrero = pd.date_range(start='2024/02/01', end='2024/03/01', freq= 'D')

In [68]:
cantidad_cargas_sube_febrero = pd.Series(rng.integers(1,101, len(dias_febrero)), index= dias_febrero)
cantidad_cargas_sube_febrero

2024-02-01     5
2024-02-02    13
2024-02-03    23
2024-02-04     7
2024-02-05    42
2024-02-06    69
2024-02-07    78
2024-02-08     9
2024-02-09    50
2024-02-10    25
2024-02-11    13
2024-02-12     6
2024-02-13    74
2024-02-14    55
2024-02-15    71
2024-02-16    94
2024-02-17    38
2024-02-18    70
2024-02-19    89
2024-02-20    78
2024-02-21    12
2024-02-22    82
2024-02-23     1
2024-02-24     1
2024-02-25    73
2024-02-26    14
2024-02-27    41
2024-02-28    88
2024-02-29    35
2024-03-01     9
Freq: D, dtype: int64

In [69]:
cantidad_cargas_sube_febrero.describe()

count    30.000000
mean     42.166667
std      31.788182
min       1.000000
25%      12.250000
50%      39.500000
75%      72.500000
max      94.000000
dtype: float64