# Pandas

## Ejercicio 1.0 - Instalacion y ejecucion

Pandas nos permite trabajar con datos estructurados. Esta libreria sirve para trabajar con tablas.
dentro de la libreria tenemos:
* Series: son columnas con informacion
* Dataframe: varias series agrupadas
las funciones y metodos son compatibles entre Series y Dataframes.Nos permite leer informacion...

In [19]:
!pip install pandas==2.2.2

Requirement already satisfied: pandas==2.2.2 in /usr/local/python/3.10.13/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /home/codespace/.local/lib/python3.10/site-packages (from pandas==2.2.2) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.10/site-packages (from pandas==2.2.2) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas==2.2.2) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.10/site-packages (from pandas==2.2.2) (2024.1)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas==2.2.2) (1.16.0)

In [17]:
import numpy as np

In [18]:
import pandas as pd

## Ejercicio 1.1

En una serie vamos a priorizar el tipo de informacion que tenemos.

como crear una **serie**?

In [4]:
lista_numerica = [4,5,3]
serie_numerica = pd.Series(lista_numerica)
serie_numerica

0    4
1    5
2    3
dtype: int64

In [5]:
lista_nombres = ["jose","pedro","maria"]
serie_nombre = pd.Series(lista_nombres)
serie_nombre

0     jose
1    pedro
2    maria
dtype: object

In [6]:
lista_booleano = [False, True, False]
serie_booleano = pd.Series(lista_booleano)
serie_booleano

0    False
1     True
2    False
dtype: bool

In [7]:
array = np.array([7,8,9])
serie_array = pd.Series(array)
serie_array

0    7
1    8
2    9
dtype: int64

## Ejercicio 1.2

Podemos indicar que tipo de dato queremos:

In [8]:
serie_colores = pd.Series(["verde","blanco","rojo"], dtype="string" )
serie_colores

0     verde
1    blanco
2      rojo
dtype: string

In [9]:
serie_dni = pd.Series([12456852,24928635,48425698], dtype="string")
serie_dni

0    12456852
1    24928635
2    48425698
dtype: string

## Ejercicio 1.3

En una serie puedo indicar los indices de las filas que tengo

In [10]:
lista_alumnos = ["sebastian","carlos","jorge","yanina","marina"]
edad_alumnos = [22,19,50,42,33]

serie_edad = pd.Series(edad_alumnos,index=lista_alumnos)
serie_edad

sebastian    22
carlos       19
jorge        50
yanina       42
marina       33
dtype: int64

## Ejercicio 1.4

In [11]:
diccionario_promedio = {
    "mario": 7.4,
    "jorge": 8.0,
    "miguel": 7.5,
    "carlos":7.1
}
diccionario_promedio

{'mario': 7.4, 'jorge': 8.0, 'miguel': 7.5, 'carlos': 7.1}

## Ejercicio 1.5

.....

In [12]:
diccionario_promedio = {
    "mario": 7.4,
    "jorge": 8.0,
    "miguel": 7.5,
    "carlos":7.1
}
promedio_alumnos = pd.Series(diccionario_promedio)
promedio_alumnos

mario     7.4
jorge     8.0
miguel    7.5
carlos    7.1
dtype: float64

## Ejercicio 1.6

In [13]:
indice = ["bs as","la pampa","santa fe","corrientes","chaco"]

serie_provincias = pd.Series(indice)

In [14]:
serie_provincias

0         bs as
1      la pampa
2      santa fe
3    corrientes
4         chaco
dtype: object

## Ejercicio 1.7

como manejamos indices en las series

In [15]:
serie_provincias

0         bs as
1      la pampa
2      santa fe
3    corrientes
4         chaco
dtype: object