# Clase 6

## while -mientras que-

Demo

In [1]:
if True:
  print("Hola desde un if")

Hola desde un if

Ejercicio 1.1

In [2]:
password = "trx123"
password_ingresada = input("Por favor, ingrese su contrasena: ")

while (password != password_ingresada) :
  print("La contrasena", password_ingresada,"es incorrecta..re intente por favor")
  password_ingresada = input("Ingrese su contrasena nuevamente: ")

Por favor, ingrese su contrasena: Carlos
La contrasena Carlos es incorrecta..re intente por favor
Ingrese su contrasena nuevamente: trx123

Ejercicio 1.2

In [3]:
numero_ciclos = 1

while (numero_ciclos < 11) :
  print(numero_ciclos)
  numero_ciclos += 1

1
2
3
4
5
6
7
8
9
10

Ejercicio 1.3

In [4]:
username = "facumax"
username_ingresado = input("Por favor ingrese su usuario : ")

while (username != username_ingresado) :
  print("Usuario no reconocido")
  username_ingresado = input("Re-ingrese su usuario : ")
else :
   print("Bienvenido ! ", username)

Por favor ingrese su usuario : Leonel Messi
Usuario no reconocido
Re-ingrese su usuario : facumax
Bienvenido !  facumax

Ejercicio 1.4

In [5]:
datos_cargados = False #0 False

while datos_cargados:
  columna_analizar = input("Por favor ingrese la columna a analizar")
  print("Se esta prosesando la columna", columna_analizar)
else:
  print("No se cargaron los datos")

No se cargaron los datos

Ejercicio 1.5

Ejercicio 1.6

In [6]:
texto = "este es el codigo de ejemplo"
numero_letra = 1

for letra in texto :
  mensaje = "la letra nro {} tiene un valor {}".format(numero_letra,letra)
  print(mensaje)
  numero_letra += 1

la letra nro 1 tiene un valor e
la letra nro 2 tiene un valor s
la letra nro 3 tiene un valor t
la letra nro 4 tiene un valor e
la letra nro 5 tiene un valor
la letra nro 6 tiene un valor e
la letra nro 7 tiene un valor s
la letra nro 8 tiene un valor
la letra nro 9 tiene un valor e
la letra nro 10 tiene un valor l
la letra nro 11 tiene un valor
la letra nro 12 tiene un valor c
la letra nro 13 tiene un valor o
la letra nro 14 tiene un valor d
la letra nro 15 tiene un valor i
la letra nro 16 tiene un valor g
la letra nro 17 tiene un valor o
la letra nro 18 tiene un valor
la letra nro 19 tiene un valor d
la letra nro 20 tiene un valor e
la letra nro 21 tiene un valor
la letra nro 22 tiene un valor e
la letra nro 23 tiene un valor j
la letra nro 24 tiene un valor e
la letra nro 25 tiene un valor m
la letra nro 26 tiene un valor p
la letra nro 27 tiene un valor l
la letra nro 28 tiene un valor o

Ejercicio 1.7 --uno en uno--

In [7]:
for numero in range(1,5) :
  print(numero)

1
2
3
4

Ejercicio 1.8 --dos en dos--

In [8]:
for pares in range(2,15,2) :
  print(pares)

2
4
6
8
10
12
14

Ejercicio 1.9

In [9]:
for valor in range(12,-10,-2):
  print(valor)

12
10
8
6
4
2
0
-2
-4
-6
-8

## Coleccion de datos
en python tenemos estos tipos de datos:
-str
-int
-float
-bool

# list
permiten guardar diferentes tipos de datos, pueden ser variables repetidas, se pueden alterar los valores de la lista.(reodenar, agregar y quitar).
las listas se definen con [] y sus valores se separan con ,

Ejercicio 2.0
creamos varios tipos de lista

In [10]:
lista_alumnos = ["andres", "pedro", "maria", "jose"]
lista_notas = [7,8,10,7]
lista_mixta = ["andres", True, 190,6.31, False, "verde"]

Ejercicio 2.1
trabajando con las listas

In [11]:
#accedemos a los valores por su indice
lista_alumnos = ["andres", "pedro", "maria", "jose", "mabel"]
lista_alumnos[0],lista_alumnos[4],lista_alumnos[-2],lista_alumnos[-1]

('andres', 'mabel', 'jose', 'mabel')

In [12]:
#utilizando el for
for alumno in lista_alumnos:
  print(alumno)

andres
pedro
maria
jose
mabel

In [13]:
#len() puedo obtener la cantidad de valores en mi lista
len(lista_alumnos)

5

In [14]:
#creo otra lista
lista_coches = ["audi", "negro", 2021, 2115454, True]
lista_coches

['audi', 'negro', 2021, 2115454, True]

In [15]:
lista_opcional = ["hibrido", "v8"]

In [16]:
#con extend puedo agregarle a una lista valores de otra lista(atras-ultimo)
lista_coches.extend(lista_opcional)
lista_coches

['audi', 'negro', 2021, 2115454, True, 'hibrido', 'v8']

In [17]:
lista_coches.append(2)
lista_coches

['audi', 'negro', 2021, 2115454, True, 'hibrido', 'v8', 2]