<a href="https://colab.research.google.com/github/facuescalante/recursos-analisis-datos/blob/main/6_Secuencias/TrabajoEnClase6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clase 6

## while -mientras que-

Demo

In [1]:
if True:
  print("Hola desde un if")

Hola desde un if

Ejercicio 1.1

In [2]:
password = "trx123"
password_ingresada = input("Por favor, ingrese su contrasena: ")

while (password != password_ingresada) :
  print("La contrasena", password_ingresada,"es incorrecta..re intente por favor")
  password_ingresada = input("Ingrese su contrasena nuevamente: ")

Por favor, ingrese su contrasena: trx123

Ejercicio 1.2

In [3]:
numero_ciclos = 1

while (numero_ciclos < 11) :
  print(numero_ciclos)
  numero_ciclos += 1

1
2
3
4
5
6
7
8
9
10

Ejercicio 1.3

In [4]:
username = "facumax"
username_ingresado = input("Por favor ingrese su usuario : ")

while (username != username_ingresado) :
  print("Usuario no reconocido")
  username_ingresado = input("Re-ingrese su usuario : ")
else :
   print("Bienvenido ! ", username)

Por favor ingrese su usuario : facumax
Bienvenido !  facumax

Ejercicio 1.4

In [5]:
datos_cargados = False #0 False

while datos_cargados:
  columna_analizar = input("Por favor ingrese la columna a analizar")
  print("Se esta prosesando la columna", columna_analizar)
else:
  print("No se cargaron los datos")

No se cargaron los datos

Ejercicio 1.5

Ejercicio 1.6

In [6]:
texto = "este es el codigo de ejemplo"
numero_letra = 1

for letra in texto :
  mensaje = "la letra nro {} tiene un valor {}".format(numero_letra,letra)
  print(mensaje)
  numero_letra += 1

la letra nro 1 tiene un valor e
la letra nro 2 tiene un valor s
la letra nro 3 tiene un valor t
la letra nro 4 tiene un valor e
la letra nro 5 tiene un valor
la letra nro 6 tiene un valor e
la letra nro 7 tiene un valor s
la letra nro 8 tiene un valor
la letra nro 9 tiene un valor e
la letra nro 10 tiene un valor l
la letra nro 11 tiene un valor
la letra nro 12 tiene un valor c
la letra nro 13 tiene un valor o
la letra nro 14 tiene un valor d
la letra nro 15 tiene un valor i
la letra nro 16 tiene un valor g
la letra nro 17 tiene un valor o
la letra nro 18 tiene un valor
la letra nro 19 tiene un valor d
la letra nro 20 tiene un valor e
la letra nro 21 tiene un valor
la letra nro 22 tiene un valor e
la letra nro 23 tiene un valor j
la letra nro 24 tiene un valor e
la letra nro 25 tiene un valor m
la letra nro 26 tiene un valor p
la letra nro 27 tiene un valor l
la letra nro 28 tiene un valor o

Ejercicio 1.7 --uno en uno--

In [7]:
for numero in range(1,5) :
  print(numero)

1
2
3
4

Ejercicio 1.8 --dos en dos--

In [8]:
for pares in range(2,15,2) :
  print(pares)

2
4
6
8
10
12
14

Ejercicio 1.9

In [9]:
for valor in range(12,-10,-2):
  print(valor)

12
10
8
6
4
2
0
-2
-4
-6
-8

# Coleccion de datos
en python tenemos estos tipos de datos:
-str
-int
-float
-bool

# list
permiten guardar diferentes tipos de datos, pueden ser variables repetidas, se pueden alterar los valores de la lista.(reodenar, agregar y quitar).
las listas se definen con [] y sus valores se separan con ,

**Ejercicio** 2.0
creamos varios tipos de lista

In [10]:
lista_alumnos = ["andres", "pedro", "maria", "jose"]
lista_notas = [7,8,10,7]
lista_mixta = ["andres", True, 190,6.31, False, "verde"]

**Ejercicio 2.1**

Con las listas podemos utilizar las siguientes acciones

* Append: Agrega un elemento al final de la lista, append()
* Extend: Añade una lista a una lista preexistente, extend()
* Insert: Agrega un elemento en el índice determinado, insert()
* Pop: Elimina un elemento al final de la lista o en un índice específico, pop()
* Remove: Elimina un elemento si consigue el elemento específico, remove()
* Sort: Ordena la lista de menor a mayor, sort()
* Reverse: Invierte el orden de la lista, reverse()

In [11]:
#accedemos a los valores por su indice
lista_alumnos = ["andres", "pedro", "maria", "jose", "mabel"]
lista_alumnos[0],lista_alumnos[4],lista_alumnos[-2],lista_alumnos[-1]

('andres', 'mabel', 'jose', 'mabel')

In [12]:
#utilizando el for
for alumno in lista_alumnos:
  print(alumno)

andres
pedro
maria
jose
mabel

In [13]:
#len() puedo obtener la cantidad de valores en mi lista
len(lista_alumnos)

5

In [14]:
#creo otra lista
lista_coches = ["audi", "negro", 2021, 2115454, True]
lista_coches

['audi', 'negro', 2021, 2115454, True]

In [15]:
lista_opcional = ["hibrido", "v8"]

In [16]:
#con extend puedo agregarle a una lista valores de otra lista(atras-ultimo)
lista_coches.extend(lista_opcional)
lista_coches

['audi', 'negro', 2021, 2115454, True, 'hibrido', 'v8']

In [17]:
# Agregar un valor al final de la lista utilizando append
lista_coches.append(2)
lista_coches

['audi', 'negro', 2021, 2115454, True, 'hibrido', 'v8', 2]

In [18]:
# Insertar un elemento en una posición específica
lista_opcional.insert(1, "gt")
lista_opcional

['hibrido', 'gt', 'v8']

In [19]:
# Eliminar y devolver el último elemento de la lista de datos personales
ultimo_dato = lista_coches.pop()
print("el ultimo dato era: ", ultimo_dato)
print("La lista quedo: ", lista_coches)

el ultimo dato era:  2
La lista quedo:  ['audi', 'negro', 2021, 2115454, True, 'hibrido', 'v8']

In [20]:
# Eliminar la primera ocurrencia de un elemento
lista_coches.remove("v8")
lista_coches

['audi', 'negro', 2021, 2115454, True, 'hibrido']

In [21]:
# Ordenar la lista de valores numéricos de forma ascendente
lista_notas.sort()
lista_notas

[7, 7, 8, 10]

In [22]:
# Revertir el orden de la lista de alumnos
lista_alumnos.reverse()
lista_alumnos

['mabel', 'jose', 'maria', 'pedro', 'andres']

# len()
Una función muy util y que debemos tener en cuenta es la función len la cual devuelve el tamaño o cantidad de valores en esta

**Ejercicio 2.2**

In [23]:
lista_valores = ["amoxidal", "azitromicina", "claritromicina", "levofloxacina", 5.1]

len(lista_valores)

5

# Tuple
Las listas se definen con () y los valores se separan por ,

Las tuplas son muy parecidas a las listas, pero con una gran diferencia. Son inmutables, es decir, no pueden ser alteradas despues de su creación.

Una caracteristica de las tuplas es que permiten valores duplicados

**Ejercico 2.3**

In [25]:
tupla_atb = ("amoxicilina", "azitromicina", "claritromicina", "levofloxacina")

print("la 1era droga de la lista tiene indice 0 y es:", tupla_atb[0])
print("la 4era droga de la lista tiene indice 3 y es:", tupla_atb[3])

la 1era droga de la lista tiene indice 0 y es: amoxicilina
la 4era droga de la lista tiene indice 3 y es: levofloxacina

In [26]:
type(tupla_atb)

tuple

# Acciones con tuplas
Con las tuplas podemos realizar las siguientes acciones:

* Index: Devuelve el índice del elemento determinado, index()
* Count: Identifica cuántas veces existe un elemento dentro de la tupla, count()

**Ejercico 2.4**

In [28]:
tupla_aine = ("diclofenac","ibuprofeno","ketorolac","naproxeno","diclofenac")

# Encontrar el índice de "ketorolac" en la tupla
indice_ketorolac = tupla_aine.index("ketorolac")
print("El indice de 'ketorolac' es:", indice_ketorolac)

El indice de 'ketorolac' es: 2

In [29]:
# Contar cuántas veces aparece "diclofenac" en la tupla
cantidad_diclo = tupla_aine.count("diclofenac")
print("El numero de veces que 'diclofenac' aparece es:", cantidad_diclo)

El numero de veces que 'diclofenac' aparece es: 2

# set
Los set de datos son similares a las tuplas ya que no permiten reordenar los valores.

Pero su principal diferencia es que no puede haber duplicados, en cambio, si permiten quitar y poner elementos

**Ejercicio 2.5**

El principal uso que vamos a darle a set es cuando tengamos muchos valores repetidos en una lista, y queramos tener un conjunto de datos con los valores únicos sin repetirse con el orden de aparición.

Creemos una lista con valores numéricos entre los cuales tengamos números repetidos, con set creemos un "set" de números únicos.

In [30]:
lista_valores_repetidos = (87,31,2,2,3,3,1,5,4,3,23,23,12,9,8,99,11,56,26,23,71,15,124,8,1,3,1,9,49,1,5,1)
lista_valores_repetidos

(87,
 31,
 2,
 2,
 3,
 3,
 1,
 5,
 4,
 3,
 23,
 23,
 12,
 9,
 8,
 99,
 11,
 56,
 26,
 23,
 71,
 15,
 124,
 8,
 1,
 3,
 1,
 9,
 49,
 1,
 5,
 1)

In [31]:
# Con set convierto a mi lista a valores sin repetetidos
valores_unicos = set(lista_valores_repetidos)

print("Elementos unicos: ", valores_unicos)

Elementos unicos:  {1, 2, 3, 4, 5, 8, 9, 11, 12, 15, 23, 26, 31, 49, 56, 71, 87, 99, 124}

In [32]:
type(valores_unicos)

set

# dict()
Los diccionarios se definen con {} y los elementos se separan por , pero para separar la clave del valor usamos :

Los diccionarios tienen la caracteristica de guardar valores con un sistema de clave valor, es decir, voy a almacenar información pero esta va a tener una clave (como un nombre interno)

**Ejercicio 2.6**

Creemos un diccionario con informacion personal y veamos como acceder a un valor

In [34]:
info_alumno = {
    "nombre" : "Leonel",
    "apellido" : "Messi",
    "edad" : 36,
    "es el 10" : True,
    "es arquero" : False
}

In [35]:
info_alumno

{'nombre': 'Leonel',
 'apellido': 'Messi',
 'edad': 36,
 'es el 10': True,
 'es arquero': False}

In [36]:
type(info_alumno)

dict

# Acciones con diccionarios

* Get: Devuelve un elemento a través de su key, sino lo encuentra se le pueda dar un valor por default, get()
* Keys: Devuelve todas las keys de un diccionario, keys()
* Values: Devuelve todos los values de un diccionario, values()
* Items: Devuelve todos los pares de key/values de un diccionario, items()
* Pop: Elimina un elemento del diccionario a partir de su key, pop()
* Clear: Elimina todos los elementos del diccionario, clear()

**Ejercicio 2.7**

Con la lista creada anteriores probemos a usar las diferentes acciones disponibles

In [37]:
# Ejemplo de uso de get()
apellido_alumno = info_alumno.get("apellido")
print("Apellido:", apellido_alumno)

Apellido: Messi

In [38]:
# Ejemplo de uso de get() con valor por default
celular_alumno = info_alumno.get("telefono", "No disponible")
print("Telefono:" , celular_alumno)

Telefono: No disponible

In [39]:
# Ejemplo de uso de keys()
keys_diccionario = info_alumno.keys()
print("Keys:", keys_diccionario)

Keys: dict_keys(['nombre', 'apellido', 'edad', 'es el 10', 'es arquero'])

In [40]:
# Ejemplo de uso de values()
values_diccionario = info_alumno.values()
print("Values:", values_diccionario)

Values: dict_values(['Leonel', 'Messi', 36, True, False])

In [41]:
# Ejemplo de uso de items()
items_diccionario = info_alumno.items()
print("Items:", items_diccionario)

Items: dict_items([('nombre', 'Leonel'), ('apellido', 'Messi'), ('edad', 36), ('es el 10', True), ('es arquero', False)])

In [42]:
# Atención por elimina el valor relacionado con la key "edad"
edad_persona = info_alumno.pop("edad")
print("Edad:", edad_persona)
print("Diccionario despues del pop:" , info_alumno)

Edad: 36
Diccionario despues del pop: {'nombre': 'Leonel', 'apellido': 'Messi', 'es el 10': True, 'es arquero': False}

In [43]:
# Ejemplo de uso de clear()
info_alumno.clear()
print("Diccionario despues del clear:", info_alumno)

Diccionario despues del clear: {}